

/************************************** Buttons ***************************************/ 
.green{
  background-color:#00a74a;
  border: 2px solid;
  border-radius: 100% 0 0 0;
  min-width:30px;
  min-height:30px;
  width:60px;
  height:60px;
}

.red{
  background-color:#9f0f17;
  border: 2px solid;
  border-radius: 0 100% 0 0;
  min-width:30px;
  min-height:30px;
  width:60px;
  height:60px;
}

.yellow{
  background-color:#cca707;
  border: 2px solid;
  border-radius: 0 0 0 100%;
  min-width:30px;
  min-height:30px;
  width:60px;
  height:60px;
}

.blue{
  background-color:#094a8f;
  border: 2px solid;
  border-radius: 0 0 100% 0;
  min-width:30px;
  min-height:30px;
  width:60px;
  height:60px;
}





/************************************** menu ***************************************/ 

