

/************************************** Buttons ***************************************/ 
.green{
  border: 2px solid;
  border-radius: 100% 0 0 0;
  min-width:30px;
  min-height:30px;
  width:150px;
  height:150px;
}

.red{
  border: 2px solid;
  border-radius: 0 100% 0 0;
  min-width:30px;
  min-height:30px;
  width:150px;
  height:150px;
}

.yellow{
  border: 2px solid;
  border-radius: 0 0 0 100%;
  min-width:30px;
  min-height:30px;
  width:150px;
  height:150px;
}

.blue{
  border: 2px solid;
  border-radius: 0 0 100% 0;
  min-width:30px;
  min-height:30px;
  width:150px;
  height:150px;
}

/************************************** menu ***************************************/ 
.turnOn{

}

.start{

}

.screen{
  background-color: black;
  color:white;
  width: 60px;
  height:60px;
  text-align:center;
  font-size:45px;
}

.strict{

}

/*
lightup
yellow #fed93f
green #13ff7c
red #ff4c4c
blue #1c8cff
*/

